@charset "utf-8";
body {
    background-color:#FBFAF6;
    font-family: 'klee','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    background-image: url(images/japanese-paper_00479.jpeg);
}

/* 共通 */

section {
    /* margin-bottom: 15rem; */
}

.textbox {
    padding: 3rem;
    background-color: rgba(255, 255, 255, 60%);
}

.decolation {
    object-fit: contain;
    width: 30%;
    position: relative;
    z-index: -10;
}

.title {
    font-size: 2.1875rem;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: normal;
}
/* header部分 */
header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    color: white;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 50%;
}

.header-logo h1 {
    font-weight: normal;
    font-size: 1.7rem;
    margin-left: 5%;
}

header nav {
    margin-right: 3%;
}

header nav ul {
    writing-mode: vertical-rl;
    list-style: none;
    margin-top: -1rem;
}

header nav ul li {
    margin-left: 2rem;
}

header nav ul li:last-child {
    margin-left: 0;
}

header nav a {
    text-decoration: none;
    color: white;
    transition: color .3s;
}

header nav a:hover {
   font-weight: bold;
   transition: .3s;
}

/* スクロール時のヘッダー背景色 */
.headercolor-scroll {
    background-color:rgba(31,67,79,35%);
    padding: 1rem;
}

/* ハンバーガーメニュー */ 

.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	cursor: pointer;
    width: 60px;
    height:60px;
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
	background: #fff;
  	width: 60%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 40%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
} 

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 40%;
}

.humburger {
    position: absolute;
    top: 0;
    right:0;
    margin-top: 1rem;
    display: none;
    z-index: 15;
}

button {
    border: none;
    background: none;
}

.sp-mainmenu {
    position: fixed;
    position: absolute;
    background-color:rgba(31,67,79,85%);
    top: 0;
    left: 0;
    /* right: -100%; */
    /* opacity: 0; */
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    /* transform: translateX(-200px); */
    transition: opacity 0.5s,transform 0.5s;
}

.active {
    display: block;
    /* opacity: 1; */
}

.openmenu {
    position: relative;
    color: #fff;
    height: 40%;
    justify-content: center;
    align-items: center;
    top: 30%;
    text-align: center;
}

.openmenu img {
    width: 30%;
    margin: 0 auto;
}

.spmenu {
    margin:0 auto
}

@media screen and (max-width: 768px){
    .nav-list {
        display: none;
    }
    
    .humburger {
        display: block;
    }

    header nav ul li {
        margin-left: 10%;
    }

}



/* メインビジュアル */
#mainvisual {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    position:relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 19vh;
}

/* about部分 */

#about {
    width: 100%;
    margin-bottom: 14vh;
}

#about h1 {
    writing-mode: vertical-rl;
    margin: 0 10% 0 auto;
}


.about-text {
    writing-mode: vertical-rl;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 2.2;
    margin: 0 18% 0 auto;
    position: relative;
    z-index: 1;
    margin-top: -8rem;
} 

.about-text p {
    border-left: solid 1px gray;
    font-size: 1.8vw;
    letter-spacing: 0.42rem;
    padding-left: 0.9vw;
    padding-left: 0.95vw;
}

#about .aboutimg {
    object-fit: contain;
    width: 66%;
    position: relative;
    z-index: -1;
    margin-top: -5rem;
}

.cloud-decoration {
    width: 320px;
    max-width: 45%;
    margin: 0 0 0 auto;
    display: block;
}

/* お知らせ部分 */

.info-text {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 22vh;
}

.info-text h1 {
    margin-left: 2rem;
}

.info-text a{
    text-decoration: none;
    color: #333;
}

.info-text ul li {
    list-style-type: none;
    margin-bottom: 0.7rem;
    border-bottom: 1px solid #E4DCBF;
    padding-bottom: 0.5rem;

}

.viewinfo-button {
    text-align: right;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
}

.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -8px;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.arrow-style::before{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #1F434F;
}
.arrow-style::after{
    left: -3px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* 商品紹介 */

#product-info {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 22vh;
}

.productinfo-titlearea {
    display: flex;
}


#product-info h1 {
    writing-mode: vertical-rl;
    margin: 0 10% 0 auto;
}

#chidori {
    width: 320px;
    max-width: 45%;
    margin-top: -5rem;
}

.item-list {
    margin-top: -7rem;
    margin-bottom: 16vh;
}

.item-box {
    display: flex;
    width: 29%;
}


.item-img {
    position: relative;
    z-index: -1;
    object-fit: contain;
    width: 87.5%;
}

.item-text {
    position: relative;
    z-index: 0;
    background-color:rgba(255, 255, 255, 60%);
    margin-right: -1rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
    padding: 0.7rem;
    height: 150px;
}

.info-text ul li a:hover {
    font-weight: bold;
}

.item-text span {
    text-combine-upright: all;
}

.item-name {
    font-size: 1.2rem;
    margin:0 auto;
    border-left: 1px solid #E4DCBF;
    padding-left: 0.3rem;
}

.item-price {
    margin:60px 0 auto 0;
    padding-right: 0.3rem;
}

#first-item {
    margin: 0 23% 0 auto;
}

#second-item {
    margin-left: 15.6%;
}

#third-item {
    margin: 0 13% 0 auto;;
    margin-top: -10%;
}

/* ボタン */
.viewbutton {
    text-align: center;
    font-size: 1.5rem;
}

/* shopinfo */
#shop-info {
    margin-bottom: 20vh;
}

#shop-info h1 {
    writing-mode: vertical-rl;
    margin: 0 10% 0 auto;
}


.shopinfo-main {
    width: 80%;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 60%);
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: -2rem;
    
}

#shop-info #shopimg {
    object-fit: contain;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.shop-text {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.shopinfo-map {
    width: 50%;
}

.shopinfo-text {
    width: 50%;
    margin-left: 8%;
}

.shopinfo-text a {
    color: #333;
}

.map {
    height: 0;
    /* overflow: hidden; */
    padding-bottom: 75%;
    position: relative;
    }

.map iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    }


/* footer */
.footer {
    background-color: #1F434F;
    padding: 1rem;
}

.footer-content {
    display: flex;
    padding: 1rem 0;
}

.footer-logo {
    width: 40%;
    border-right: solid 1px #fff;
    position: relative;
}

.footer-logo img {
    object-fit: contain;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.footer-info {
    width: 45%;
    font-size: 1.1rem;
    color: #fff;
    vertical-align: middle;
    margin: 0 auto;
}

footer a {
    color:gray;
    font-size: 1rem;
    border: #fff 1px solid;
    background: #fff;
    padding: 0.5rem 1rem;
}


.copyright {
    color: #333;
    text-align: center;
}

/* SP用 */

@media screen and (max-width: 768px){

    #mainvisual{
        object-fit: cover;
        height: 83vh;
        margin-bottom: 3rem;
    }
    
    /* about部分 */
    
    .textbox {
        padding: 3rem;
    }
    
    #about {
        /* height: auto; */
        margin-bottom: 0;
    }

    #about h1 {
        margin: 0 auto;
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .about-sp {
        display: flex;
        flex-direction: column-reverse;
    }

    #about .aboutimg {
        width: 100%;
        z-index: 0;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .about-text{
        writing-mode: horizontal-tb;
        font-size: 1rem;
        width: 80%;
        margin: 0 auto;
        line-height: normal;
    }

    .about-text p {
        font-size: 1rem;
        letter-spacing: normal;
        border-left: none;
    }

    .float-clear {
            clear:  both;         
    }

    #info {
        margin-bottom: 3rem;
    }

    .cloud-decoration {
        max-width: 45%;
        position: static;
        margin-bottom: 3rem;
        float: right;
    }

    .info-text {
        width: 80%;
        margin-bottom: 0;
    }

    #product-info {
        margin-bottom: 5rem;
    }
    

    .productinfo-titlearea {
        display: block;
    }

    #product-info h1 {
        margin: 0 auto;
        margin-top: -10rem;
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .item-list {
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .item-box {
        width: 45%;
    }

    #first-item {
        margin: 0 23% 0 auto;
        margin-bottom: 2rem;
    }
    
    #second-item {
        margin-left: 15.6%;
        margin-bottom: 2rem;
    }
    
    #third-item {
        margin: 0 13% 0 auto;
        margin-bottom: 2rem;
    }

    #chidori {
        margin-top: 0;
        width: 45%;
    }


    #shop-info {
        margin-bottom: 3rem;
    }

    #shop-info h1 {
        margin: 0 auto;
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .shopinfo-main {
        width: 100%;
        margin-top: 0;
    }

    #shop-info #shopimg {
        width: 90%;
        margin-bottom: 1rem;
    }

    .shop-text {
        display: block;
    }

    .shopinfo-map {
        width: 90%;
    }
    
    .shopinfo-text {
        width: 90%;
        margin-left: 0;
    }

    .shopinfo-map {
        width: 100%;
    }

    .mail-contact{
        font-size: 1rem;
    }
    



    
    .footer-content {
        flex-direction: column;
        padding: 1rem;
        width: 100%;
    }

    .footer-info {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer a {
        min-width: 212px;
        font-size: 2vw;
    }

    .footer-logo {
        order: 1;
        border-right: none;
        margin: 0 auto;
        text-align: center;
        min-width: 178px;
    }
    
    .footer-logo img {
        position: static;
        width: 50%;
    }

    .footer-content {
        width: 80%;
        font-size: normal;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 1rem;
    }
}